/* --- Universal Styles --- */

* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #4A4A4A;
  line-height: 1.6;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-content {
  position: relative;
  /*top: 5.3125rem;  To offset for fixed header. */
}

.center {
  text-align: center;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

/* ---- Header ---- */

header {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 5.31rem;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1.875rem;
  margin: 0 1.875rem;
}

header .logo {
  flex: 1;
  font-size: 1.7rem;
  opacity: .8;
  letter-spacing: .2354rem;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  padding-left: 3.5rem;
  font-weight: 500;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

.button {
  border-radius: 4px;
  color: white;
  padding: .4rem .6rem;
  background-color: #9dc20b;
  line-height: 1.6;
  display: none;
}

header .icon {
  width: 2.1rem;
  padding-left: .75rem;
  vertical-align: middle;
}

header .mobile {
  display: none;
  width: 100%;
}


/* ----- Sign Up Section ----- */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
  background-image: url(../images/banner-landingpage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sign-up-cta {
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
  margin-top: 12%;
  margin-left: 6%;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
  padding-top: 1.77rem;
  margin: 0 auto;
}
.email span {
  font-size: 1.3rem;
}
#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: block;
  line-height: 1.4;
  background-color: #4A4A4A;
  cursor: pointer;
}

/* ----- Features Section ------- */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  margin: 0 auto;
  background-color: #f3f3f3;
}

.feature {
  flex: 1;
  padding: 2rem 0;
  margin: 0px 1.25rem;
  background-color: white;
}
.feature .image-container {
  width: 90%;
  height: 65%;
  margin: 0 auto;
}
.feature img {
  width: 100%;
  margin: 0 auto;
}
.content {
  margin: 2% auto 3%;
  padding-top: 1.5rem;
}
.feature h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

/* ----- Filters Section ------ */

#filters-section {
  padding: 4rem 0;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 6rem;
  margin-top: 2rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
  width: 40%;
  margin: .5rem auto;
}

#filters-section .images-container {
  max-width: 100%;
  padding: 0 1%;
  display: flex;
}
.image-container img {
  width: 100%;
}

/* ------ Quotes Section -------- */

#quotes-section {
  background-color: #f3f3f3;
  padding: 0;
  margin: 0 1%;
  padding: 3% 0;
}

#quotes-section .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quotes-section .quote {
  padding-right: 1.875rem;
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

#quotes-section .quote-citation {
  height: 1.875rem;
}

/* -------- Footer ----------- */

footer {
  background-color: #9b9b9b;
  padding: .5rem 2rem;
  height: 3.44rem;
  margin: 0;
  display: table;
  width: 100%;
}

footer .content {
  color: white;
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 0;
}

footer .copyright {
  flex-grow: 1;
}

/* ---- Media querries ---- */

@media only screen and (max-width: 1000px) {
  html {
    font-size: 16px;
  }
  .button {
    display: block;
  }
  .logo {
    font-size: 1.5rem;
  }
  header .content {
    margin: 0 1rem;
  }
  nav li {
    padding-left: 2.9rem;
  }
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 760px) {
  #features-section {
    padding: 0 5%;
    margin: 2% auto;
  }
  .feature {
    width: 100%;
  }
  .feature h2,
  .feature h3 {
    text-align: left;
  }
}

@media only screen and (max-width: 890px) {
  .feature h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .feature h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 760px) {
  .main-content {
    top: 2.5625rem;
  }
  header .desktop {
    display: none;
  }
  header .mobile {
    display: flex;
    align-items: center;
    width: 100%;
  }
  header {
    height: 4em;
    display: flex;
    align-items: center;
  }
  header .content {
    padding: .5rem 0;
    width: 100%;
  }
  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  header .mobile li {
    padding: 0;
    align-self: flex-end;
  }
  header .mobile .button {
    padding: .3rem .8rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
  header .mobile img {
    height: 1.6em;
  }
  #features-section {
    flex-flow: column;
    padding: 0;
  }
  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }
  .content {
    padding-bottom: 2rem;
  }
  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 3rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filters-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
    width: 70%;
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }
  #quotes-section .content {
    padding: 1.875rem .625rem;
    flex-direction: column;
  }

  #quotes-section .quote {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  #quotes-section .quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
    height: 3rem;
  }
}

@media only screen and (min-width: 760px) {
  footer .content {
    font-size: .625rem;
  }
}

@media only screen and (max-width: 450px) {
  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }
}
